#body {
  background-color: #FFFF;
  font-family: 'Raleway', sans-serif;
}

#container {
  border: 1px #000;
  margin: auto;
}

/* brand text color*/
#nav-link a:hover
{
    color: #126161;
    text-decoration: underline;
}

/*---------about------*/
#content_home {
  text-align: center;
}

#content_about {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

#top {
  margin-bottom: 30px;
}

#top h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

#top p {
  line-height: 1.4;
  margin-bottom: 20px;
}

#top img {
  width: 100%;
  margin-bottom: 30px;
}

div.square {
  width: 400px;
  height: 400px;
  background-color: #FFFF;
  display: inline-block;
  vertical-align: top;
}

div.square_text {
  padding: 25px;
}

div.square.white {
  background-color: #ffff;
}

div.square h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}

div.square p {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 10px;
}

div.square img {
  width: 100%;
}

div.square {
  height: auto;
}



/*---------footer------*/
footer {
  background: #0D1326;
  color: white;
}

footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

footer .box {
  margin-top: 50px;
}

footer .box i {
  margin-right: 20px;
  font-size: 30px;
}

footer h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

footer ul li {
  list-style-type: none;
  margin-bottom: 15px;
  opacity: 0.7;
  transition: 0.5s;
  cursor: pointer;
}

footer ul li::before {
  content: "\2022";
  color: #0D1326;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

footer .ul {
  margin-left: 50px;
}

footer p {
  margin-bottom: 20px;
  opacity: 0.7;
  line-height: 30px;
  padding-bottom: 20px;
}

footer .box li:hover,
footer .box i:hover {
  color: #10B391;
}

.legal {
  text-align: center;
  background: #10B391;
  padding: 20px;
  margin: 0;
  margin-top: 50px;
  font-size: 14px;
}

/*---------footer------*/
@media only screen and (max-width:768px) {
  .left {
    width: 100%;
  }

  footer .container {
    grid-template-columns: repeat(2, 1fr);
  }
}