#body {
    background-color: #DAF6FF;
    font-family: Verdana, Geneva, sans-serif;
  }
  
  #container {
    border: 1px #000;
    margin: auto;
  }
  
  #content_home {
    text-align: center;
  }

  #heading
{
    text-transform: uppercase;
}